* {
  margin: 0;
  padding: 0;
}
body {
  background-image: url(/bg.png);
  background-attachment: fixed;
  background-size: cover;
}
#app {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.2);
}
::-webkit-scrollbar-track {
  border-radius: 0;
  background: rgba(0, 0, 0, 0.1);
}
